{% extends 'base.html' %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>   
{% endif %}
<h1>State:{{state}}</h1>
<h2>District:{{district}}</h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col">sr. no</th>
        <th scope="col">crop</th>
        <th scope="col">Total area under cultivation(ha)</th>
      </tr>
    </thead>
    <tbody>
        {% for i in data %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{i.crop}}</td>
        <td>{{i.area_cultivated}}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>


{% endblock %}
